<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.BikelogMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Bikelog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="bike_id" jdbcType="VARCHAR" property="bikeId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>
</mapper>