<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Staff">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>

  <update id="setRoleNull" parameterType="String">
  	update staff set role=NULL where id=#{id}
  </update>

</mapper>